<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>Test <a href="/blinky">Blinky</a></p>
    <p>Test <a href="/hcsr04">HC-SR04</a></p>
  </body>
</html>
